<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Uno Kim">
  <title>게시글 페이지</title>
</head>

<body>

  <header id="header"></header>

  <main>
    <header>
      <h1>첫번째 글</h1>
    </header>

    <div>
      <section>
        <aside>
          <p><span class="nick-name">Uno</span></p>
          <p><a class="u-url" rel="me" href="mailto:djkehh@gmail.com">uno@mail.com</a></p>
          <p><time datetime="2022-01-01T00:00:00">2022-01-01</time></p>
          <p>#java</p>
        </aside>
      </section>

      <article>
        <p>본문<br><br></p>
      </article>
    </div>

    <div>
      <section>
        <form>
          <div>
            <label for="comment-textbox" hidden>댓글</label>
            <textarea id="comment-textbox" placeholder="댓글 쓰기.." rows="3"></textarea>
          </div>
          <div>
            <label for="comment-submit" hidden>댓글 쓰기</label>
            <button id="comment-submit" type="submit">쓰기</button>
          </div>
        </form>

        <ul>
          <li>
            <div>
              <time><small>2022-01-01</small></time>
              <strong>Uno</strong>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                Lorem ipsum dolor sit amet
              </p>
            </div>
          </li>
          <li>
            <div>
              <time><small>2022-01-01</small></time>
              <strong>Uno</strong>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                Lorem ipsum dolor sit amet
              </p>
            </div>
          </li>
        </ul>

      </section>
    </div>

    <div>
      <nav aria-label="Page navigation example">
        <ul>
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo; prev</span>
            </a>
          </li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">next &raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

  </main>

  <footer id="footer"></footer>
</body>
</html>
